/* Estilo general del body */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #000;
    transition: background-color 0.3s, color 0.3s; /* Transición suave entre colores */
}

/* Barra de navegación */
.navbar {
    padding: 20px 0px;
    background-color: #fff;
}

.contenedor-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espaciado entre logo, menú e íconos */
    max-width: 1200px; /* Ancho máximo */
    align-items: center;
    margin: 0 auto; /* Centrar el contenedor */
    padding: 0 20px; /* Espaciado interno */
    gap: 50px; /* Añade espacio entre los grupos de elementos */
}

/* Estilos del logo */
.logo {
    font-weight: bold;
    font-size: 1.5rem; /* Tamaño de la fuente del logo */
    text-decoration: none; /* Sin subrayado */
    color: #121212; /* Color blanco */
}

/* Botón menú hamburguesa */
.menu-hamburguesa {
    display: none; /* Ocultar en pantallas grandes */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #121212; /* Color del ícono */
}

/* Estilo para el menú de navegación */
.ul-links {
    flex-grow: 1; /* Permite que el menú ocupe el espacio disponible */
    text-align: center; /* Centra los enlaces dentro de su contenedor */
}

.ul-links ul{
    list-style-type: none; /* Sin viñetas en la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Colocar elementos en fila */
    justify-content: center; /* Centrar los elementos del menú */
    gap: 15px; /* Espacio entre enlaces */
}

.ul-links ul li a {
    color: #121212; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
    font-size: 1rem;
}

.ul-links ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Iconos */
.iconos {
    display: flex; /* Coloca los iconos en fila */
    gap: 15px; /* Espacio entre los iconos */
}

.iconos a {
    margin-left: 15px; /* Espacio entre los iconos */
    color: #121212; /* Color de los iconos */
    font-size: 1.5rem; /* Tamaño de los iconos */
    text-decoration: none;
}

.iconos a:hover {
    color: #121212; /* Cambia el color al pasar el mouse */
}

/* Modo oscuro */
body.dark-mode {
    background-color: #121212; /* Fondo oscuro */
    color: #fff; /* Texto claro */
}

body.dark-mode .navbar {
    background-color: #333; /* Fondo oscuro para el navbar */
}

body.dark-mode .ul-links ul li a {
    color: #fff; /* Enlaces en blanco en modo oscuro */
}

body.dark-mode .iconos a {
    color: #fff; /* Iconos en blanco en modo oscuro */
}

/* Botón de modo oscuro */
.btn-modo {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #121212; /* Color por defecto */
}

body.dark-mode .btn-modo {
    color: #fff; /* Color del botón en modo oscuro */
}
/* Hero section */
.hero {
    background-image: url('imagenes/pexels-natallia-rak-784231-1675993.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 20px; /* Se ajusta según el tamaño de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinea el texto a la izquierda */
    width: 100%; /* Asegura que ocupe todo el ancho */
    height: 400px; /* Ajustar altura según lo necesario */
}

.hero h2 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    max-width: 600px; /* Ancho máximo del texto */
    margin: 0 0 20px 160px; /* Espaciado */
    text-transform: uppercase; /* Opcional: mayúsculas */
}

.hero button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    max-width: 160px;
    text-transform: uppercase;
    margin-left: 160px;
}

.hero button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
}

/* Estilo Galeria*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
}

.gallery-header {
    display: flex;
    flex-direction: column; /* Coloca el h1 y p en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto en el centro */
    padding: 20px; /* Espaciado interno para dar aire al contenido */
}

.gallery-header h1 {
    font-size: 2.5rem; /* Tamaño de la fuente del h1 */
    margin-bottom: 10px; /* Espacio entre el h1 y el párrafo */
}

.gallery-header p {
    font-size: 1.2rem; /* Tamaño de la fuente del párrafo */
    max-width: 800px; /* Ancho máximo del párrafo para evitar que sea muy largo */
    margin: 0 auto; /* Centrar el párrafo si tiene un ancho limitado */
}

.gallery-item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: 250px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Mantener proporciones y recortar lo que sobra */
    display: block;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.price {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

/* Ocultar texto adicional */
.hidden {
    display: none;
}

/* Estilo del botón */
.toggle-btn {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    
.toggle-btn:hover {
    background-color: #0056b3;
}

/* Estilo para Poppins Light (300) */
.light-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Estilo para Poppins Medium (500) */
.medium-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Estilo para Poppins SemiBold (600) */
.semibold-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Estilo para Poppins Bold (700) */
.bold-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


/* Sección completa del formulario */
.formulario {
    background-color: #fff3e6; /* Color de fondo para la sección */
    padding: 40px 20px; /* Espacio alrededor de la sección */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido horizontalmente */
}

/* Estilos para el título y párrafo */
.formulario h2 {
    text-align: center; /* Centra el texto */
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px; /* Espacio debajo del título */
    text-transform: uppercase;
}

.formulario p {
    text-align: center; /* Centra el texto */
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 30px; /* Espacio debajo del párrafo */
}

/* Contenedor del formulario */
form {
    padding: 20px;
    border-radius: 20px;
    max-width: 500px; /* Ancho máximo */
    width: 100%; /* Para pantallas pequeñas */
    display: flex;
    flex-direction: column; /* Coloca los campos en una columna */
    gap: 10px; /* Espacio entre los campos del formulario */
    align-items: center;
}

/* Estilos de los campos de entrada */
form input, form textarea {
    padding:10px;
    font-size: 1rem;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 20px; /* Bordes redondeados */
    width: 100%;
    height: 50px;
}

/* Estilos para el botón */
form button {
    padding: 3px 8px;
    background-color: #333; /* Fondo oscuro para el botón */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer; /* Cambia el cursor a pointer */
    transition: background-color 0.3s ease; /* Transición suave */
    text-transform: uppercase;
    max-width: 160px;
}

/* Efecto al pasar el cursor por el botón */
form button:hover {
    background-color: #555; /* Cambia a gris más claro cuando se pasa el cursor */
}

/* Estilos del footer */
footer {
    padding: 20px 0;
    background-color: #121212;
    color: #fff;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between; /* Espaciado entre logo, menú e íconos */
    align-items: center; /* Centra verticalmente */
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 0 20px; /* Espaciado interno */
}

/* Estilos del logo */
.logo-footer {
    font-weight: bold;
    font-size: 1.5rem; /* Tamaño de la fuente del logo */
    text-decoration: none; /* Sin subrayado */
    color: #fff; /* Color blanco */
}

/* Estilo para el menú de navegación en el footer */
.ul-links-footer ul{
    list-style-type: none; /* Sin viñetas en la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Colocar elementos en fila */
    gap: 20px; /* Espacio entre enlaces */
}

.ul-links-footer ul li a {
    color: #fff; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
    font-size: 1rem;
}

.ul-links-footer ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Iconos del footer */
.iconos-footer a {
    margin-left: 15px; /* Espacio entre los iconos */
    color: #fff; /* Color de los iconos */
    font-size: 1.5rem; /* Tamaño de los iconos */
    text-decoration: none;
}

.iconos-footer a:hover {
    color: #ccc; /* Cambia el color al pasar el mouse */
}


/* Responsividad para pantallas medianas */
@media (max-width: 768px) {
    .menu-hamburguesa {
        display: block; /* Mostrar el botón hamburguesa */
    }

    .ul-links ul {
        flex-direction: column; /* Cambia los enlaces a columna */
        gap: 10px; /* Reduce el espacio entre los enlaces */
        display: none; /* Ocultar por defecto */
    }

    .ul-links.active ul {
        display: flex; /* Mostrar menú al activar */
        position: absolute; /* Superpone el menú */
        top: 60px;
        right: 20px;
        background: #fff;
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .iconos a {
        margin-left: 0; /* Elimina margen entre iconos */
        margin-top: 10px; /* Espacio superior entre iconos y enlaces */
    }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 480px) {
    .contenedor-navbar {
        flex-direction: column; /* Coloca los elementos uno debajo del otro */
        align-items: center; /* Centra el contenido */
        text-align: center;
    }

    .logo {
        font-size: 1.2rem; /* Reduce el tamaño del logo */
    }

    .iconos a {
        font-size: 1.2rem; /* Reduce el tamaño de los iconos */
    }
}


/* Responsividad para pantallas medianas section HERO*/
@media (max-width: 768px) {
    /* Hero section */
    .hero h2 {
        font-size: 32px; /* Texto más pequeño en móviles */
        line-height: 1.1;
        text-align: center;
        text-align: left;
        margin-left: 60px;
        margin-top: 60px;
        font-size: 35px;
        }

    .hero {
        padding: 50px 20px; /* Reducimos el padding para pantallas pequeñas */
        height: auto; /* Ajuste de altura */
        }

    .hero button {
        padding: 8px 15px;
        font-size: 14px;
        text-align: left;
        margin: 60px;
    }
}

/* Opcional: ajustes adicionales para pantallas muy pequeñas (teléfonos) section HERO*/
@media (max-width: 480px) {
    .hero h2 {
        font-size: 28px;
        max-width: 60%;
        text-align: left;
        font-size: 25px;
    }

    .hero button {
        font-size: 12px;
        text-align: right;
    }
}

/* Responsivo para pantallas medianas section galeria*/
@media (max-width: 768px) {
    .gallery-item {
        flex-basis: calc(50% - 20px);
    }

    .gallery-item img {
        height: 200px; /* Ajusta la altura en pantallas medianas */
    }

    .gallery-header h1 {
        font-size: 2rem; /* Ajusta el tamaño del h1 en pantallas medianas */
    }

    .gallery-header p {
        font-size: 1rem; /* Ajusta el tamaño del párrafo en pantallas medianas */
    }
}

/* Responsivo para pantallas pequeñas section galeria */
@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
    }
    .gallery-item img {
        height: 180px; /* Ajusta la altura en pantallas pequeñas */
    }

    .gallery-header h1 {
        font-size: 1.8rem; /* Ajusta el tamaño del h1 en pantallas pequeñas */
    }

    .gallery-header p {
        font-size: 0.9rem; /* Ajusta el tamaño del párrafo en pantallas pequeñas */
    }
}

/* Responsividad para pantallas medianas FOOTER */
@media (max-width: 768px) {
    .contenedor-footer {
        flex-direction: column; /* Coloca los elementos uno debajo del otro */
        align-items: center; /* Centra el contenido */
        text-align: center;
    }

    .ul-links-footer ul {
        flex-direction: column; /* Cambia los enlaces a columna */
        gap: 10px; /* Reduce el espacio entre los enlaces */
        display: none;
    }

    .iconos-footer a {
        margin-left: 0; /* Elimina margen entre iconos */
        margin-top: 10px; /* Espacio superior entre iconos y enlaces */
    }
}

/* Responsividad para pantallas pequeñas FOOTER*/
@media (max-width: 480px) {
    .contenedor-footer {
        padding: 0 10px; /* Reduce el espaciado interno */
    }

    .logo-footer {
        font-size: 1.2rem; /* Reduce el tamaño del logo */
        justify-content: center;
    }

    .ul-links-footer ul li a {
        font-size: 0.9rem; /* Reduce el tamaño de los enlaces */
        display: none; 
    }

    .iconos-footer a {
        font-size: 1.2rem; /* Reduce el tamaño de los iconos */
    }
}